@page "/enter-leaderboard"
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject ILogger<EnterLeaderboard> Logger
@inject IWebHostEnvironment Env

<PageTitle>Enter Leaderboard</PageTitle>

<main class="main">
    <h1>Ins Leaderboard eintragen</h1>
    <hr />
    <div style="height: 40px;"></div>

    <form>
        <div class="row mt-2">
            <div class="col-md-8">
                <label class="control-label">Name</label>
                <input id="InputName" class="form-control" type="text" autocomplete="off" @bind="leaderboardEntries.Name" readonly="@this.parameterAreIncomplete"/>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-8">
                <label class="control-label">Klasse</label>
                <input id="InputClass" class="form-control" type="text" autocomplete="off" @bind="leaderboardEntries.Class" readonly="@this.parameterAreIncomplete"/>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-8">
                <label class="control-label">Fehler</label>
                <input class="form-control" readonly @bind="leaderboardEntries.Errors" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-8">
                <label class="control-label">Zeit</label>
                <input class="form-control" readonly @bind="leaderboardEntries.Time" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-8">
                <div class="form-group">
                    <button id="ButtonSubmitEntry" type="button" class="btn btn-primary" @onclick="CreateEntryAsync" disabled="@this.parameterAreIncomplete">Save</button>
                    <button type="button" class="btn btn-danger" @onclick="CancelAsync">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</main>
