@page "/"

<PageTitle>QMK TypeRush</PageTitle>

<main class="main">
    <h1>QMK TypeRush</h1>
    <hr />
    <p>Willkommen bei QMK TypeRush!</p>
    <p>Hier kannst du deine Tippfähigkeiten auf unserer eigens entwickelten QMK-Tastatur testen. Trete gegen andere Teilnehmer an und finde heraus, wer am besten mit dem Speziallayout der Tastatur zurechtkommt.</p>
</main>
