.main {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 20px 0;
}

h1 {
    font-family: 'Arial Black';
    font-size: 50px;
    text-align: center;
}

.button-container-right {
    text-align: right;
    margin: 0 20px 0 0;
}

.table-container-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

thead {
    font-size: 20px;
}

    thead tr:hover {
        cursor: pointer;
    }

.table-leaderboard {
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

tbody tr:last-child {
    border-bottom: hidden;
}

tbody tr:hover {
    background-color: lightblue
}

th, td {
    text-align: center;
    vertical-align: middle;
}

th {
    border-bottom: 2px solid lightgray;
}

.cell-name {
    max-width: 600px;
    min-width: 300px;
    padding-left: 30px;
    padding-right: 10px;
    text-align: left;
}

.cell-class {
    min-width: 100px;
    text-align: center;
}

.cell-time {
    min-width: 100px;
    padding-right: 30px;
    padding-left: 10px;
    text-align: right;
}

.cell-errors {
    min-width: 100px;
    padding-right: 30px;
    padding-left: 10px;
    text-align: right;
}

.button-row {
    min-width: 100px;
    width: 200px;
    text-align: right;
    padding-right: 20px;
}

.action-in-row-button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

    .action-in-row-button .material-symbols-outlined {
        color: black;
        font-size: 22px;
        vertical-align: bottom;
        font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 200, 'opsz' 24
    }

.btn-secondary:focus {
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
    box-shadow: 0 0 0 .25rem rgba(130, 138, 145, .5);
}

.dropdown {
    position: relative;
    display: inline-block;
    font-family: Segoe UI Semibold;
}

.dropdown-show {
    display: block;
}

.dropdown-hide {
    display: none;
}

.dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    border: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
    .dropdown-content button {
        display: block;
        width: 150px;
        border-radius: 0;
    }

@media (max-width: 700px) {
    .button-container-right {
        text-align: center;
        margin: 0;
    }
}


/*Bewegender Text für zu langen Text*/

/*#flow-text-div {
    overflow: hidden;
}

.text-container {
    white-space: nowrap;
    overflow: visible;
}

span {
    display: inline-block;
}

.animate {
    position: relative;
    animation: leftright 3s infinite alternate ease-in-out;
}

@keyframes leftright {
    0%, 10% {
        transform: translateX(0%);
        left: 0%;
    }

    90%, 100% {
        transform: translateX(-100%);
        left: 100%;
    }
}*/
