@page "/text-selection"
@inject IWebHostEnvironment Env
@inject ILogger<TextSelection> Logger

<PageTitle>Select Text</PageTitle>

<main class="main">
    <h1>Select Text</h1>
    
    <hr />

    <div style="height: 40px;"></div>

    @if (this.textBib == null)
    {
        <p style="display: flex; align-items: center; justify-content: center;"><em>Loading...</em></p>
    }
    else
    {
        @foreach (var text in this.textBib)
        {
            <form>
                <div class="row ms-5 mb-5">
                    <div class="col-md-8">
                        <input class="form-control mb-2" type="text" readonly autocomplete="off" @bind="text.Text" />
                        @if (text.Aktiviert)
                        {
                            <button class="btn btn-dark" disabled>Aktiviert</button>
                        }
                        else
                        {
                            <button class="btn btn-primary" @onclick="() => SetActiveText(text)">Aktivieren</button>
                        }
                    </div>
                </div>
            </form>
        }
    }
</main>