.text-box {
    background-color: #1b6ec2;
    color: #FFF;
    border-radius: 10px;
    border: 3px solid #1d69b6;
    padding: 20px 50px;
    margin: 0 150px;
    box-sizing: border-box;
    width: calc(100% - 300px);
}

.input-box {
    border-radius: 10px;
    border: 3px solid #777;
    padding: 20px 50px;
    margin: 0 150px;
    box-sizing: border-box;
    width: calc(100% - 300px);
}

.button-container-right {
    text-align: right;
    margin: 0 150px 0 0;
}

.countdown-box {
    height: 175px;
    text-align: center;
    margin: 0;
    font-family: Arial Black;
    font-size: 100px;
}

@media (max-width: 700px) {
    .button-container-right {
        text-align: center;
        margin: 0;
    }
}
